@page
@model Tischtennis_Shop.Pages.Kunden.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Straße)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Ort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Postleitzahl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Hausnummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kunde) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straße)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postleitzahl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hausnummer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
